.navbar-my {
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 5px;

    a {
        margin: 10px;
        font-size: 12px;
        color: #477CC4;
    }

    .isActive {
        background-color:#477CC4;
        padding: 10px;
        border-radius: 5px;
        color: white;
    }
}

.active {
    color: rgb(82, 82, 82);
    font-weight: bold;
}

.users {
    h3 {
        margin: 20px;
    }
    width: 80%;
    float: right;
    background-color: #eff6fc;
}

.user-cards {
    margin: 10px;
}

.user-list {
    margin: 10px;
    padding: 20px;
}

form {
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;

    select {
        padding:1px 2px;
        border-radius: 5px;
        border-color: rgb(209, 209, 209);
    }
    button {
        padding:5px 4px;
        border-radius: 5px;
        margin-left: 10px;
        margin-bottom: 5px;
        font-size: 12px;
        border: none !important;
        background-color: #477CC4;
        color: #eff6fc;
    }
}