$primary-color:#477CC4;
$primary-margin: 10px;
$margin-top:20px;

@mixin styles {
    margin-bottom: 10px;
    margin-left: 10px;
}

.navbar-my {
    padding-top: 20px;
    margin-top: $margin-top;
    padding-bottom: 5px;

    a {
        margin: $primary-margin;
        font-size: 12px;
        color: $primary-color;
        cursor: pointer;
    }

    .isActive {
        background-color:$primary-color;
        padding: 10px;
        border-radius: 5px;
        color: white;
    }
}

.active {
    color: rgb(82, 82, 82);
    font-weight: bold;
}

.users {
    padding-left: 200px;
    h3 {
        margin: 20px;
    }
    background-color: #eff6fc;

    @media only screen and(max-width:767px) {
        padding-left: 0px;

      
    }
}

.user-cards {
    margin: $primary-margin;
    display: flex;
  
    flex-wrap: wrap;
}

.user-list {
    margin: $primary-margin;
    padding: 20px;
}
.filteringForms {
    display: flex;
    form {
        max-width: 200px;
        margin-top: $margin-top;
        @include styles();
        display: flex;
        select {
            
            border-radius: 5px;
            border-color: rgb(209, 209, 209);
        }
        button {
            padding:5px 4px;
            border-radius: 5px;
            @include styles();
            font-size: 16px;
            border: none !important;
            background-color: $primary-color;
            color: #eff6fc;
        }
        input {
            transition: 0.3s;
            &:focus {
                width: 500px;
            }
        }
    }
}


@media only screen and (max-width:767px) {
    
    .user-cards {
        flex-direction: column;
    }
    .items {
        flex-direction: column-reverse;
    }
}
