<i class="fa fa-angle-right" (click)="openNav()"></i>
<i *ngIf="isActiveNav" class="fa fa-remove" (click)="openNav()"></i>
<div class="mynavbar closenav" [ngClass]="{'closenav': !isActiveNav}">
  <div class="adminimg">
    <img src="../../../assets/unnamed.png" alt="">
    <p>JOHN DOE</p>
  </div>
  <div class="bottom-nav">
    <a [routerLink]="['/users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Customers</a>
    <a [routerLink]="['/messages']" routerLinkActive="active">Messages</a>
    <a [routerLink]="['/products']" routerLinkActive="active">Products</a>
    <a [routerLink]="['/about']" routerLinkActive="active">About</a>
    <a [routerLink]="['/terms']" routerLinkActive="active" >Terms of use</a>
    <a  href="">Contact</a>
  </div>
</div>

