.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.445);
    z-index: 9999;

    form {
        position: absolute;
        width: 500px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.507);
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        i {
            float: right;
            cursor: pointer;
            font-size: 20px;

        }
        p {
            color: white;
            font-weight: bold;
        }

        input,select,button {
            margin-top: 5px;
        }
    }

    .product_buy {
        p {
            margin-top: 5px;
            margin-bottom: 0px !important;
        }
        .list_products {
            height: 100px;
            overflow-y: scroll;
            background-color: white;
            padding: 10px;
            label {
                display: block;
                
                input {float: right}
            }
        }
        
    }
    // .productsList {
    //     background-color: white;
    //     height: 200px;
    //     overflow:scroll;
    //     label {
    //         display: block;
    //     }
    // }
}