.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-family: 'Raleway', sans-serif;
}

.flexBox {
    display: flex;
}

@media only screen and (max-width:660px){
    .flexBox {
        display: unset;
    }
}