<div class="overlay">
  <form #f="ngForm" (ngSubmit)="UpdateUser(f)">
    <p class="text-light bg-danger p-3" *ngIf="errorMsg">{{errorMsg}}</p>
    <i [routerLink]="['/users']" routerLinkActive="router-link-active"  class="fa fa-close text-light"></i>
    <p>Update customer</p>
    <input class="form-control" type="text" name="name" [(ngModel)]="user.name">
    <input class="form-control" type="text" name="street" [(ngModel)]="user.street">
    <input class="form-control" type="text" name="city" [(ngModel)]="user.city">
    <select class="form-control" name="gender" [(ngModel)]="defaultGender">
      <option *ngFor="let g of gender" [value]="g">{{g}}</option>
    </select>
    <button class="btn btn-primary">Edit</button>
</form>
</div>
