.adminoverlook {
    padding-top: 100px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.counter-cards {
    display: flex;
    
}
.card-users {
    display: flex;
    border: 1px solid rgb(233, 233, 233);
    background-color: rgb(248, 248, 248);
    justify-content: space-between;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 4px rgb(204, 204, 204);

    .fafa {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        i {
            color:gray
        }
    }
    h3 {
        color: #08e0e7;
        text-align: right;
    }
    p {
        color: rgb(112, 112, 112);
    }
}

.card-msg {
    display: flex;
    background-color: rgb(248, 248, 248);

    border: 1px solid rgb(233, 233, 233);
    justify-content: space-between;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 4px rgb(204, 204, 204);

    .fafa {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        i {
            color:gray
        }
    }
    h3 {
        color: #209e30;
        text-align: right;
    }
    p {
        color: rgb(112, 112, 112);
    }
}
.card-like {
    display: flex;
    background-color: rgb(248, 248, 248);

    border: 1px solid rgb(233, 233, 233);
    justify-content: space-between;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 4px rgb(204, 204, 204);

    .fafa {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        i {
            color:gray
        }
    }
    h3 {
        color: #5D8DCB;
        text-align: right;
    }
    p {
        color: rgb(112, 112, 112);
    }
}

.card-money {
    display: flex;
    background-color: rgb(248, 248, 248);

    border: 1px solid rgb(233, 233, 233);
    justify-content: space-between;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 4px rgb(204, 204, 204);

    .fafa {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        i {
            color:gray
        }
    }
    h3 {
        color: #5D8DCB;
        text-align: right;
    }
    p {
        color: rgb(112, 112, 112);
    }
}