$primary-color:#08e0e7;
$sec-color: #209e30;
$ter-color:#5D8DCB;

@mixin card-style($col) {
    display: flex;
    width: 200px;
    border: 1px solid rgb(233, 233, 233);
    background-color: rgb(248, 248, 248);
    justify-content: space-between;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 4px rgb(204, 204, 204);
    h3 {
        color: $col;
        text-align: right;
    }

    p {
        color: rgb(112, 112, 112);
    }
}

.adminoverlook {
    padding-top: 100px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.counter-cards {
    display: flex;
    flex-wrap: wrap
    
}
.card-users {
   @include card-style($primary-color);

    .fafa {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        i {
            color:gray
        }
    }
    
  
}

.card-msg {
    @include card-style($sec-color);

    .fafa {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        i {
            color:gray
        }
    }
    
   
}
.card-like {
    @include card-style($ter-color);

    .fafa {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        i {
            color:gray
        }
    }
   
   
}

.card-money {
    @include card-style($ter-color);

    .fafa {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        i {
            color:gray
        }
    }
   
   
}

@media only screen and (max-width:767px) {
    .counter-cards {
        flex-direction: column;
        
    }
    .card-like,.card-money,.card-msg,.card-users{
        width: unset;
    }
}