<div class="adminoverlook">
  <p style="margin-bottom: 1px;font-weight: 500;font-size:16px;">
    OVERLOOK
  </p>
  <p style="font-size: 14px;" class="text-muted">Universal Admin Panel</p>
</div>
<div class="counter-cards">
  <div class="card-users" >
    <div class="fafa">
      <i class="fa fa-users"></i>
    </div>
    <div>
        <h3>{{customersCounter}}</h3>
        <p>New Clients</p>
    </div>
  </div>
  <div class="card-msg">
    <div class="fafa">
      <i class="fa fa-envelope-o"></i>
    </div>
    <div>
        <h3>{{messagesCounter}}</h3>
        <p>Message</p>
    </div>
  </div>
  <div class="card-like">
    <div class="fafa">
      <i class="fa fa-thumbs-up"></i>
    </div>
    <div>
        <h3>85696</h3>
        <p>New Likes</p>
    </div>
  </div>
  <div class="card-money">
    <div class="fafa">
      <i class="fa fa-eur"></i>
    </div>
    <div>
        <h3>{{totalCash}}</h3>
        <p>Total Earn</p>
    </div>
  </div>
</div>
