<div class="card" style="width: 300px;height: 300px;">
  <div class="card-header bg-primary text-light">
    <p style="margin-bottom: 0;">{{user.name}}</p>
    <a class="userdetail" [routerLink]="['/users',user.id]" [queryParams]="{'detail': user.name}" tooltip="Detail"
    placement="top"><i class="fa fa-external-link" aria-hidden="false"></i></a>
  </div>
  <div class="card-body" style="display: flex;justify-content: space-between;">
    <div>
      <img [src]="iconsimg" alt="iconimage" width="100%" style="height:100%;">
    </div>
    <div>
      <p style="margin-bottom: 0;">{{user.street}}</p>
      <a class="text-primary" style="cursor: pointer;">View Orders</a>
    </div>
  </div>
  <div class="card-bottom">
    <button [routerLink]="[user.id,'edit']"  class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> update</button>
    <i (click)="deleteReq(user.id,index)" class="fa fa-trash-o text-danger"></i>
  </div>
</div>
