.card {
    margin-right: 10px;
    margin-bottom: 10px;
}
.card-header {
    position: relative;
    background-color: #477CC4;
    .userdetail {
        position: absolute;
        color: white;
        right: 0;
        top: 0;
        padding: 5px;
    }
}

p,button,a {
    font-size: 12px;
}



.card-bottom {
    background-color: #477CC4;
    position: relative;
    i {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 20px;
        padding: 5px;
        cursor: pointer;
    }
}