<div class="card" style="width: 200px;height: 100x;">
  <div class="card-header text-light">
    <p style="margin-bottom: 0;">{{user.name}}</p>
    <a class="userdetail" [routerLink]="['/users',user.id]" [queryParams]="{'detail': user.name}" tooltip="Detail"
    placement="top"><i class="fa fa-external-link" aria-hidden="false"></i></a>
  </div>
  <div class="card-body" style="display: flex;justify-content: space-between;">
    <div>
      <img [src]="iconsimg" alt="iconimage" width="100%" style="height:100%;">
    </div>
    <div>
      <p style="margin-bottom: 0;">{{user.street}}</p>
      <a class="text-primary" style="cursor: pointer;">ORDERS</a>
    </div>
  </div>
  <div class="card-bottom">
    <i (click)="deleteReq(index,user.id)" class="fa fa-trash-o text-danger"></i>
  </div>
</div>
