<div class="product">
  <h3>Products</h3>
  <button [routerLink]="['add']"  class="btn btn-dark">Add</button>
  <div class="product-cards">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NAME</th>
          <th scope="col">PRICE</th>
          <th scope="col">DISCOUNT</th>
        </tr>
      </thead>
      <tbody>
          <tr app-OrdersItem *ngFor="let prod of products;let i = index" [product]="prod" [index]="i"></tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>