.product {
    width: 80%;
    float: right;
    background-color: #eff6fc;
    height: 100vh;
    h3 {
        padding-top: 100px;
        margin-left: 20px;
    }
    .product-cards {
        margin-left: 20px;
    }
}