.nametd {
  text-decoration: underline blue;
}
.nametd::after {
  content: "update";
  color: blue;
  font-size: 10px;
}

.discount_span_td {
  
  .original_price {
    text-decoration: red line-through;
    color: red;
  }
}
