<div class="about">
  <div class="about-header">
    <h3>Administrators' abilities</h3>
    <p>Administrators have the technical ability to perform the following actions:</p>
  </div>
  <ol>
    <li>Block and unblock user accounts and IP addresses from editing</li>
    <li>Apply, modify, and remove page protection on a particular page to restrict or allow editing, moving, or creation
    </li>
    <li>Grant and revoke user permissions requested by user accounts</li>
    <li>View and restore deleted pages</li>
    <li>Edit fully protected pages</li>
    <li>Override the title blacklist</li>
  </ol>
</div>