.terms {
    width: 80%;
    float: right;
    background-color: #eff6fc;
    height: 100vh;
    h3 {
        padding-top: 100px;
        margin-left: 20px;
    }
    p {
        max-width: 600px;
        margin-left: 20px;
    }
}